body{
    direction: rtl;
    font-family: sans-serif;
}

input {
    border-radius: 3px;
    border-width: 1px;
    line-height: 1.5;
}


button {
    border-radius: 5px;

    font-size: 24px;
    transition: font-size 0.5s;
}
button:not([disabled]) {
    background-color: blue;
    color: white;
    cursor: pointer;
}

button:not([disabled]):hover {
    font-size: 30px;
    transition: font-size 0.5s;

}

@media only screen and (max-width: 600px) {
    input {
        font-size: 24px;
    }

    .selectedItem {
        font-size: 24px;

    }
    a[is="menu-item"] {
        font-size: 20px;
    }
}

.navigation-bar{
    background-color: black;
    color: white;
}
.navigation-bar a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: rgb(60, 60, 60);
    text-shadow: 1px 1px black;
    border-radius: 10px;
    /*border-style: solid;*/
    border-width: 1px;

}

.navigation-bar a:hover {
    color: cadetblue;
    transition: color 500ms;
}
